zbody {
    background: url("sonicprime.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1,p {
    color: cyan;
    font-weight: bold;
    font-size: xx-large;
}

button {
    border-radius: 50px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: xx-large;
}


.topnav {
    background-color: transparent;
    overflow: hidden;
    border-radius: 50px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.topnav a:hover {
    color: cyan;
}

.SupportedGames {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
